<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>$archiver</key>
	<string>MSArchiver</string>
	<key>$objects</key>
	<array>
		<string>$null</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>86</integer>
			</dict>
			<key>assets</key>
			<dict>
				<key>CF$UID</key>
				<integer>2</integer>
			</dict>
			<key>currentPageIndex</key>
			<integer>0</integer>
			<key>enableLayerInteraction</key>
			<true/>
			<key>enableSliceInteraction</key>
			<true/>
			<key>layerStyles</key>
			<dict>
				<key>CF$UID</key>
				<integer>16</integer>
			</dict>
			<key>layerSymbols</key>
			<dict>
				<key>CF$UID</key>
				<integer>20</integer>
			</dict>
			<key>layerTextStyles</key>
			<dict>
				<key>CF$UID</key>
				<integer>24</integer>
			</dict>
			<key>pages</key>
			<dict>
				<key>CF$UID</key>
				<integer>28</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>15</integer>
			</dict>
			<key>colors</key>
			<dict>
				<key>CF$UID</key>
				<integer>3</integer>
			</dict>
			<key>gradients</key>
			<dict>
				<key>CF$UID</key>
				<integer>7</integer>
			</dict>
			<key>imageCollection</key>
			<dict>
				<key>CF$UID</key>
				<integer>9</integer>
			</dict>
			<key>images</key>
			<dict>
				<key>CF$UID</key>
				<integer>13</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>4</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableArray</string>
				<string>NSArray</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableArray</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSArray</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSArray</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>8</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>12</integer>
			</dict>
			<key>images</key>
			<dict>
				<key>CF$UID</key>
				<integer>10</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>11</integer>
			</dict>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableDictionary</string>
				<string>NSDictionary</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableDictionary</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSImageCollection</string>
				<string>_MSImageCollection</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSImageCollection</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>14</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSAssetCollection</string>
				<string>_MSAssetCollection</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSAssetCollection</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>19</integer>
			</dict>
			<key>objects</key>
			<dict>
				<key>CF$UID</key>
				<integer>17</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>18</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSSharedLayerStyleContainer</string>
				<string>_MSSharedLayerStyleContainer</string>
				<string>MSSharedObjectContainer</string>
				<string>_MSSharedObjectContainer</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSSharedLayerStyleContainer</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>23</integer>
			</dict>
			<key>objects</key>
			<dict>
				<key>CF$UID</key>
				<integer>21</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>22</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSSharedLayerContainer</string>
				<string>_MSSharedLayerContainer</string>
				<string>MSSharedObjectContainer</string>
				<string>_MSSharedObjectContainer</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSSharedLayerContainer</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>27</integer>
			</dict>
			<key>objects</key>
			<dict>
				<key>CF$UID</key>
				<integer>25</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>26</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSSharedLayerTextStyleContainer</string>
				<string>_MSSharedLayerTextStyleContainer</string>
				<string>MSSharedLayerStyleContainer</string>
				<string>_MSSharedLayerStyleContainer</string>
				<string>MSSharedObjectContainer</string>
				<string>_MSSharedObjectContainer</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSSharedLayerTextStyleContainer</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>29</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>NS.object.0</key>
			<dict>
				<key>CF$UID</key>
				<integer>30</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>85</integer>
			</dict>
			<key>do_objectID</key>
			<dict>
				<key>CF$UID</key>
				<integer>84</integer>
			</dict>
			<key>exportOptions</key>
			<dict>
				<key>CF$UID</key>
				<integer>31</integer>
			</dict>
			<key>frame</key>
			<dict>
				<key>CF$UID</key>
				<integer>37</integer>
			</dict>
			<key>grid</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>hasClickThrough</key>
			<true/>
			<key>horizontalRulerData</key>
			<dict>
				<key>CF$UID</key>
				<integer>76</integer>
			</dict>
			<key>isFlippedHorizontal</key>
			<false/>
			<key>isFlippedVertical</key>
			<false/>
			<key>isLocked</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>layerListExpandedType</key>
			<integer>0</integer>
			<key>layers</key>
			<dict>
				<key>CF$UID</key>
				<integer>42</integer>
			</dict>
			<key>layout</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>39</integer>
			</dict>
			<key>nameIsFixed</key>
			<false/>
			<key>originalObjectID</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>rotation</key>
			<real>0.0</real>
			<key>scrollOrigin</key>
			<dict>
				<key>CF$UID</key>
				<integer>80</integer>
			</dict>
			<key>sharedObjectID</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>shouldBreakMaskChain</key>
			<false/>
			<key>style</key>
			<dict>
				<key>CF$UID</key>
				<integer>40</integer>
			</dict>
			<key>userInfo</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>verticalRulerData</key>
			<dict>
				<key>CF$UID</key>
				<integer>81</integer>
			</dict>
			<key>zoomValue</key>
			<real>1</real>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>36</integer>
			</dict>
			<key>includedLayerIds</key>
			<dict>
				<key>CF$UID</key>
				<integer>32</integer>
			</dict>
			<key>layerOptions</key>
			<integer>0</integer>
			<key>shouldTrim</key>
			<false/>
			<key>sizes</key>
			<dict>
				<key>CF$UID</key>
				<integer>34</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>33</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>35</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSExportOptions</string>
				<string>_MSExportOptions</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSExportOptions</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>38</integer>
			</dict>
			<key>constrainProportions</key>
			<false/>
			<key>height</key>
			<real>300</real>
			<key>width</key>
			<real>300</real>
			<key>x</key>
			<real>0.0</real>
			<key>y</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSRect</string>
				<string>_MSRect</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSRect</string>
		</dict>
		<string>Page 1</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>endDecorationType</key>
			<integer>0</integer>
			<key>miterLimit</key>
			<integer>10</integer>
			<key>sharedObjectID</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>startDecorationType</key>
			<integer>0</integer>
			<key>textStyle</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSStyle</string>
				<string>_MSStyle</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSStyle</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>43</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
			<key>NS.object.0</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>75</integer>
			</dict>
			<key>automaticallyDrawOnUnderlyingPath</key>
			<false/>
			<key>do_objectID</key>
			<dict>
				<key>CF$UID</key>
				<integer>74</integer>
			</dict>
			<key>dontSynchroniseWithSymbol</key>
			<false/>
			<key>exportOptions</key>
			<dict>
				<key>CF$UID</key>
				<integer>45</integer>
			</dict>
			<key>frame</key>
			<dict>
				<key>CF$UID</key>
				<integer>50</integer>
			</dict>
			<key>heightIsClipped</key>
			<false/>
			<key>isFlippedHorizontal</key>
			<false/>
			<key>isFlippedVertical</key>
			<false/>
			<key>isLocked</key>
			<false/>
			<key>isVisible</key>
			<true/>
			<key>layerListExpandedType</key>
			<integer>0</integer>
			<key>name</key>
			<dict>
				<key>CF$UID</key>
				<integer>52</integer>
			</dict>
			<key>nameIsFixed</key>
			<false/>
			<key>originalObjectID</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>rotation</key>
			<real>0.0</real>
			<key>shouldBreakMaskChain</key>
			<false/>
			<key>storage</key>
			<dict>
				<key>CF$UID</key>
				<integer>65</integer>
			</dict>
			<key>style</key>
			<dict>
				<key>CF$UID</key>
				<integer>53</integer>
			</dict>
			<key>textBehaviour</key>
			<integer>0</integer>
			<key>userInfo</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>usesNewLineSpacingBehaviour</key>
			<false/>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>36</integer>
			</dict>
			<key>includedLayerIds</key>
			<dict>
				<key>CF$UID</key>
				<integer>46</integer>
			</dict>
			<key>layerOptions</key>
			<integer>0</integer>
			<key>shouldTrim</key>
			<false/>
			<key>sizes</key>
			<dict>
				<key>CF$UID</key>
				<integer>48</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>47</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>49</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>38</integer>
			</dict>
			<key>constrainProportions</key>
			<false/>
			<key>do_objectID</key>
			<dict>
				<key>CF$UID</key>
				<integer>51</integer>
			</dict>
			<key>height</key>
			<real>34</real>
			<key>width</key>
			<real>27</real>
			<key>x</key>
			<real>191</real>
			<key>y</key>
			<real>162</real>
		</dict>
		<string>A5C5F9F8-5439-4338-BE19-D0473331A0F1</string>
		<string>kyle</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>41</integer>
			</dict>
			<key>endDecorationType</key>
			<integer>0</integer>
			<key>miterLimit</key>
			<integer>10</integer>
			<key>sharedObjectID</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
			<key>startDecorationType</key>
			<integer>0</integer>
			<key>textStyle</key>
			<dict>
				<key>CF$UID</key>
				<integer>54</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>64</integer>
			</dict>
			<key>attributes</key>
			<dict>
				<key>CF$UID</key>
				<integer>55</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>63</integer>
			</dict>
			<key>NS.key.0</key>
			<dict>
				<key>CF$UID</key>
				<integer>56</integer>
			</dict>
			<key>NS.key.1</key>
			<dict>
				<key>CF$UID</key>
				<integer>59</integer>
			</dict>
			<key>NS.object.0</key>
			<dict>
				<key>CF$UID</key>
				<integer>57</integer>
			</dict>
			<key>NS.object.1</key>
			<dict>
				<key>CF$UID</key>
				<integer>60</integer>
			</dict>
		</dict>
		<string>NSColor</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>58</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSRGB</key>
			<data>
			MC4xOTIxNTY4NjI3IDAuMjE1Njg2Mjc0NSAwLjIzOTIxNTY4NjMA
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSColor</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSColor</string>
		</dict>
		<string>NSFont</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>62</integer>
			</dict>
			<key>NSName</key>
			<dict>
				<key>CF$UID</key>
				<integer>61</integer>
			</dict>
			<key>NSSize</key>
			<real>15</real>
			<key>NSfFlags</key>
			<integer>16</integer>
		</dict>
		<string>HelveticaNeue</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSFont</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSFont</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSDictionary</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSDictionary</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSTextStyle</string>
				<string>_MSTextStyle</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSTextStyle</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>73</integer>
			</dict>
			<key>NSAttributes</key>
			<dict>
				<key>CF$UID</key>
				<integer>68</integer>
			</dict>
			<key>NSDelegate</key>
			<dict>
				<key>CF$UID</key>
				<integer>44</integer>
			</dict>
			<key>NSString</key>
			<dict>
				<key>CF$UID</key>
				<integer>66</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>67</integer>
			</dict>
			<key>NS.bytes</key>
			<data>
			a3lsZQo=
			</data>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSMutableString</string>
				<string>NSString</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSMutableString</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>63</integer>
			</dict>
			<key>NS.key.0</key>
			<dict>
				<key>CF$UID</key>
				<integer>56</integer>
			</dict>
			<key>NS.key.1</key>
			<dict>
				<key>CF$UID</key>
				<integer>70</integer>
			</dict>
			<key>NS.key.2</key>
			<dict>
				<key>CF$UID</key>
				<integer>59</integer>
			</dict>
			<key>NS.object.0</key>
			<dict>
				<key>CF$UID</key>
				<integer>69</integer>
			</dict>
			<key>NS.object.1</key>
			<dict>
				<key>CF$UID</key>
				<integer>71</integer>
			</dict>
			<key>NS.object.2</key>
			<dict>
				<key>CF$UID</key>
				<integer>60</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>58</integer>
			</dict>
			<key>NSColorSpace</key>
			<integer>1</integer>
			<key>NSRGB</key>
			<data>
			MC4xOTIxNTY4NjI3IDAuMjE1Njg2Mjc0NSAwLjIzOTIxNTY4NjMA
			</data>
		</dict>
		<string>NSParagraphStyle</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>72</integer>
			</dict>
			<key>NSAlignment</key>
			<integer>4</integer>
			<key>NSTabStops</key>
			<dict>
				<key>CF$UID</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSParagraphStyle</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSParagraphStyle</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>NSTextStorage</string>
				<string>NSMutableAttributedString</string>
				<string>NSAttributedString</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>NSTextStorage</string>
		</dict>
		<string>BAC180FB-09D8-4523-94C7-F51B425ED44C</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSTextLayer</string>
				<string>_MSTextLayer</string>
				<string>MSStyledLayer</string>
				<string>_MSStyledLayer</string>
				<string>MSLayer</string>
				<string>_MSLayer</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSTextLayer</string>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>79</integer>
			</dict>
			<key>base</key>
			<integer>0</integer>
			<key>guides</key>
			<dict>
				<key>CF$UID</key>
				<integer>77</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>78</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSRulerData</string>
				<string>_MSRulerData</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSRulerData</string>
		</dict>
		<string>{32, 161}</string>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>79</integer>
			</dict>
			<key>base</key>
			<integer>0</integer>
			<key>guides</key>
			<dict>
				<key>CF$UID</key>
				<integer>82</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>6</integer>
			</dict>
			<key>array_do</key>
			<dict>
				<key>CF$UID</key>
				<integer>83</integer>
			</dict>
		</dict>
		<dict>
			<key>$class</key>
			<dict>
				<key>CF$UID</key>
				<integer>5</integer>
			</dict>
		</dict>
		<string>934473C0-7AAB-4D99-9E09-049499AAB88B</string>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSPage</string>
				<string>_MSPage</string>
				<string>MSLayerGroup</string>
				<string>_MSLayerGroup</string>
				<string>MSStyledLayer</string>
				<string>_MSStyledLayer</string>
				<string>MSLayer</string>
				<string>_MSLayer</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSPage</string>
		</dict>
		<dict>
			<key>$classes</key>
			<array>
				<string>MSDocumentData</string>
				<string>_MSDocumentData</string>
				<string>MSModelObject</string>
				<string>NSObject</string>
			</array>
			<key>$classname</key>
			<string>MSDocumentData</string>
		</dict>
	</array>
	<key>$top</key>
	<dict>
		<key>root</key>
		<dict>
			<key>CF$UID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>$version</key>
	<integer>100000</integer>
</dict>
</plist>
